@model Travelista.Models.Trip



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form class="forms-sample" asp-action="Edit" asp-controller="Trip" asp-area="Admin" enctype="multipart/form-data">
                           
                            <Partial name="_Form" model="Model"></Partial>
                            <div class="form-group">
                                <label asp-for="Discount"></label>
                                <input class="form-control" asp-for="Discount" min="0" max="100">
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="imageFiles">Image upload</label>
                                <input type="file" name="imageFiles" class="form-control-file" multiple>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <button type="submit" class="btn btn-primary mr-2">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
