@model Travelista.Models.Image




<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Edit" enctype="multipart/form-data" asp-controller="Image" asp-area="Admin">
                            <div class="form-group">
                                <label asp-for="Trip.Name" class="control-label">Trip</label>
                                <input type="text" asp-for="Trip.Name" class="form-control-file" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageURL" class="control-label">Current Image</label>
                                <br />
                                @{
                                    var path = "/assets/images/"+Model.ImageURL;
                                }
                                <img src="@path" alt="Current Image" style="max-width: 300px; max-height: 300px;" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Upload New Image</label>
                                <input type="file" name="imageFile" class="form-control-file" />
                            </div>
                            <input type="hidden" asp-for="ImageURL" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
