@model Booking

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Travel</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
	CSS
	============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<!-- Start insurence-one Area -->
	<section class="insurence-one-area section-gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 insurence-left">
					<img class="img-fluid img-one" src="~/images/@Model.Trip?.Images[0].ImageURL" alt="">
				</div>
				<div class="col-lg-6 insurence-right">
					<h6 class="text-uppercase">Need to know</h6>
					<h1>Refund Policy</h1>
					<p>you can get a refund as long as you cancel the booking more than a week before the trip date</p>
					<div class="list-wrap">
						@if(Model.Trip?.StartDate.Date <= DateTime.Now.Date.AddDays(7))
						{
							<div style="display:flex;align-items:center;justify-content:center;flex-direction:column;">
								<h4>Non-refundable</h4>
								<br><br>
								<a href="/Booking/CancelBookingWithoutRefund/@Model.Id" class="genric-btn danger">confirm</a>
							</div>
						}
						else
						{
							<div style="display:flex;align-items:center;justify-content:center;flex-direction:column;">
								confirm cancellation and get a refund
								<br><br>
								<a asp-area="" asp-controller="Booking" asp-action="CancelBooking" asp-route-id="@Model.Id"class="btn btn-success cancel-booking-btn">Confirm</a>
							</div>
							
						}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End insurence-one Area -->
	<!-- Start insurence-two Area -->
	<section class="insurence-two-area pb-120">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 insurence-left">
					
					<div class="list-wrap">
						@Model.Trip?.Name
					</div>
				</div>
				<div class="col-lg-6 insurence-right">
					<img class="img-fluid img-two" src="~/images/@Model.Trip?.Images[1].ImageURL" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End insurence-two Area -->
	
	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>
</html>