

<main>
	<div class="page-content">
		<div class="checkout">
			<div class="container" style="margin:100px;">
				<div class="checkout-discount">
					
				</div><!-- End .checkout-discount -->
				<form asp-action="" asp-controller="" method="post">
					<input name="total" type="hidden" />

					<div class="row">
						<div class="col-lg-9">
							<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
							<div class="row">
								<div class="col-sm-6">
									<label>First Name *</label>
									<input type="text" class="form-control" name="ShipToAddress_FirstName" required>
								</div><!-- End .col-sm-6 -->

								<div class="col-sm-6">
									<label>Last Name *</label>
									<input type="text" class="form-control" name="ShipToAddress_LastName" required>
								</div><!-- End .col-sm-6 -->
							</div><!-- End .row -->
							<label>Email address *</label>
							<input type="email" class="form-control" name="BuyerEmail" required>

							

						</div><!-- End .col-lg-9 -->
						<aside class="col-lg-3">
							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>
										
										<tr class="summary-subtotal">
											<td>Subtotal:</td>
											
										</tr><!-- End .summary-subtotal -->
										<tr>
											
										</tr>
										<tr class="summary-total">
											<td>Total:</td>
											
										</tr><!-- End .summary-total -->
									</tbody>
								</table><!-- End .table table-summary -->

								<div id="paypal-btn" style="width:500px"></div>
								<br>
								
								<br />
								

							</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</form>
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->
@section Scripts {
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>
	<script>
		paypal.Button.render({
			env: 'sandbox',
			client: {
				sandbox: 'AS--jTHyG8gQgZ0NmVSrb1uUq04PDFIdraHL_ois5SpkECywvTW6t78hA4lJEsa0gzK-Xxmy7tRIewp8'
			},
			locale: 'en_US',
			style: {
				size: 'small',
				color: 'gold',
				shape: 'pill'
			},
			commit: true,
			// payment: function (data, actions) {
			// 	return actions.payment.create({
			// 		payment: {
			// 			transactions: [{
			// 				amount: {
			// 					total: @Html.//Raw(),
			// 					currency: 'USD'
			// 				}
			// 			}]
			// 		}
			// 	});
			// },
			onAuthorize: function (data, actions) {
				return actions.payment.execute().then(function () {
					var url = '@Url.Action("Index", "Home", new { })';
					window.location.href = url;
				});
			}



		}, '#paypal-btn');


	</script>
}



