@using Travelista.ViewModel
@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<style>
    .table {
        margin: 1rem;
    }
</style>

<table class="table table-striped">
    <thead>
        <tr class="bg-primary text-white">
            <th style="width: 20%;">Name</th>
            <th style="width: 20%;">Email</th>
            <th style="width: 10%;">Roles</th> 
            <th style="width: 20%;">Actions</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@($"{user.FirstName} {user.LastName}")</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="User" asp-action="ManageRoles"
                       asp-route-userId="@user.Id">Manage Roles</a>

                </td>
            </tr>
        }
    </tbody>
</table>


