<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Travel</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
	CSS
	============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						About Us
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<!-- Start about-info Area -->
	<section class="about-info-area section-gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 info-left">
					<img class="img-fluid" src="~/img/about-img.jpg" alt="">
				</div>
				<div class="col-lg-6 info-right">
					<h6>About Us</h6>
					<h1>Who We Are?</h1>
					<p>
						Travlista is an Egyptian startup travel agency aims to create a different traveling experience to our clients and give them the family and friendly atmosphere.
						<br><br>
						Whether you're planning a romantic getaway, a family vacation, or an individual trip, Travelista can help you plan and book your next adventure. our unique program and group activities gives you a different experience
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End about-info Area -->
	<!-- Start price Area -->
	<section class="price-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">We Provide Affordable Prices</h1>
						<p>Well educated, intellectual people, especially scientists at all times demonstrate considerably.</p>
					</div>
				</div>
				<br><br><br><br>
				<div class="title text-center">
					<h1 class="mb-10">Our refund Policy</h1>
					<p>If you want to cancel a reservation you can get a refund up to a week before the trip's start date. cancelation during the week leading to the trip is non-refundable</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End price Area -->
	
	<!-- Start testimonial Area -->
	<section class="testimonial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Testimonial from our Clients</h1>
						<p>Your love and support is what keeps us going as a family together </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial">
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							
						</div>
						<div class="desc">
							<p>
								Booking with Travelista was a breeze - their attentive staff crafted a personalized itinerary and provided seamless support throughout my journey, making for an unforgettable adventure. Their dedication to customer satisfaction and passion for travel truly set them apart.
							</p>
							<h4>Harriet Maxwell</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							
						</div>
						<div class="desc">
							<p>
								Travelista exceeded my expectations with their expertly curated itinerary and seamless logistics, ensuring every moment of my trip was unforgettable. Their personalized attention and passion for travel made for a truly exceptional experience.
							</p>
							<h4>Elena Gelpert</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							
						</div>
						<div class="desc">
							<p>
								Choosing Travelista was the best decision I made for my vacation - their professionalism and enthusiasm for travel transformed a simple trip into an extraordinary experience. Their unwavering support and expertise ensured that every moment was filled with adventure and discovery.
							</p>
							<h4>Stefan Biden</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
						</div>
						<div class="desc">
							<p>
								Travelista's attention to detail and commitment to customer satisfaction made my vacation effortless and enjoyable. Their expertise and passion for travel shone through in every aspect of my journey.
							</p>
							<h4>Carolyn Craig</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">

						</div>
						<div class="desc">
							<p>
								Travelista's meticulous planning and attentive service ensured a stress-free and unforgettable vacation. Their dedication to crafting personalized experiences truly set them apart in the travel industry.
							</p>
							<h4>Sarah Mick</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
						</div>
						<div class="desc">
							<p>
								With Travelista, every detail of my trip was expertly managed, from accommodations to excursions, leaving me free to fully immerse myself in the adventure. Their passion for creating memorable journeys was evident in their thoughtful recommendations and seamless execution.
							</p>
							<h4>Eva White</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End testimonial Area -->
	
	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>
</html>