/* Custom styling for the range inputs */
input[type=range] 
{
    -webkit-appearance: none;
    width: 100%;
    height: 20px; 
    margin: 5px 0; 
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Custom styling for the range thumb */
input[type=range]::-webkit-slider-thumb 
{
        -webkit-appearance: none;
        appearance: none;
        width: 20px; 
        height: 20px;
        border-radius: 50%;
        background: #007bff;
        cursor: pointer;
    }

input[type=range]::-moz-range-thumb 
{
        width: 20px; 
        height: 20px;
        border: none;
        border-radius: 50%;
        background: #007bff;
        cursor: pointer;
}

.btn-container 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.filterBtn {
    padding: 8px 16px;
    font-size: 18px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.filterBtn:hover {
        background-color: cadetblue;
        border-color: #45a049;
    }




.filter-container 
{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Add spacing between filter elements */
.form-group 
{
    margin-right: 15px; 
    margin-bottom: 15px;
}
