@model Travelista.ViewModel.TripViewModel

<div class="container mt-5">
    <form id="filterForm" asp-action="Index" asp-controller="Trips" method="post">
        <div class="filter-container">
            <!-- Min Price-->
            <div class="form-group">
                <label id="minLabel" for="MinPrice">Min Price:</label>
                <input type="range" class="form-control-range" id="minPrice" name="MinPrice" min="100" max="10000" step="100" oninput="updateMinPriceValue()">
            </div>

            <!-- Max price Area -->
            <div class="form-group">
                <label id="maxLabel" for="MaxPrice">Max Price:</label>
                <input type="range" class="form-control-range" id="maxPrice" name="MaxPrice" min="300" max="10000" step="200" oninput="updateMaxPriceValue()">
            </div>

            <!-- Trip Type Area -->
            <div class="form-group">
                <label for="Category">Trip Type</label>
                <select class="form-control" id="Category" name="Category">
                    <option value="ALL">ALL</option>
                    @foreach (var category in Model.tripTypes)
                    {
                        <option value="@category.Name">@category.Name</option>
                    }
                </select>
            </div>


            <!-- Country Area -->
            <div class="form-group">
                <label for="Country">Country</label>
                <select class="form-control" id="Country" name="Country">
                    <option value="ALL">ALL</option>
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country.Name">@country.Name</option>
                    }
                </select>
            </div>
            
            
            <!-- Date Area -->
            <div class="form-group">
                <label for="Date">Date</label>
                <input type="date" class="form-control" id="Date" name="Date">
            </div>

            
            <!--Reset && Apply Filters-->
            <div class="btn-container">
                <button  class="filterBtn btn btn-primary">Apply</button>
                <button class="filterBtn btn btn-primary" onclick="resetFilters()" asp-action="Index" asp-controller="Trips" method="get">Reset</button>
            </div>
        </div>
    </form>
</div>


