@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div style="padding-top: 15vh; padding-left: 10vw; height: 80vh">
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
</div>