@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div style="padding-top: 15vh; padding-left: 10vw; height: 80vh">
<h1>@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="Account/Login">click here to log in</a>.
    </p>
</div>

